/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

* {
   /* outline: 1px solid red !important; */
}

body {
  margin: 0;
  padding:0;
}

header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  padding: 20px;
}

a {
  target="_blank";
}

a:visited, a:link, a:active{
  color: rgba(100, 100, 100, 1);
  text-decoration: none;
}

a:hover {
  color: black;
}

.poem-bg {
  width: 100%;
  height: 720px;
  margin: 0 auto;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.pb01 {
  background-image: url(images/IMG01.png);
}

.pb02 {
  background-image: url(images/IMG02.png);
}

.pb03 {
  background-image: url(images/IMG03.png);
}

.poem-frame {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  padding: 10% 10%;
  width: 1000px;
  height: 500px;
}

.poem-info {
  width: 400px;
}

.title {
  display: block;
  height: 150px;
  line-height: 220px;
  text-align: center;
  overflow: hidden;
  font-size: 32px;
  font-weight: bold;
}

.ts01 {
  color: darkslategrey;
  text-shadow: 0 0 1em white, 0 0 1em white;
}

.ts02 {
  color: beige;
  text-shadow: 0 0 1em black, 0 0 1em black;
}

.ts03 {
  color: darkolivegreen;
  text-shadow: 0 0 1em white , 0 0 1em white;
}

.author-name {
  display: block;
  margin: auto;
  height: 30px;
  text-align: center;
  color: black;
  text-shadow: 0 0 1em white , 0 0 1em white;
}

.author-image-frame {
  display: block;
  margin: auto;
  width: 70px;
}

.author-image {
  display: block;
  margin: auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 0 1em white;
}

.poem {
  width: 600px;
  margin: 0 20px;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
}

.ps01 {
  background: rgba(148, 200, 207, 0.5);
  box-shadow: 0 0 1em rgba(40, 52, 49, 0.8);
  line-height: 31px;
  text-shadow: 0 0 1em white, 0 0 1em white;
}

.ps02 {
  background: rgba(90, 144, 84, 0.5);
  box-shadow: 0 0 1em rgba(50, 51, 79, 0.8);
  line-height: 38px;
  color: white;
  text-shadow: 0 0 1em black, 0 0 1em white;
}

.ps03 {
  background: rgba(186, 224, 219, 0.5);
  box-shadow: 0 0 1em rgba(51, 108, 160, 0.8);
  line-height: 36px;
  color: darkslategray;
  text-shadow: 0 0 1em beige , 0 0 1em beige;
}

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */
